.Home-wrapper {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
}

.Home-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Home-button {
  background: #EC6130;
  padding: 10px 15px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.Home-actions input {
  width: 80%;
  height: 30px;
  font-size: 16px;
  padding: 3px 5px;
}

.Home-result {
  margin-top: 20px;
}

.Home-error {
  color: #EC6130;
}

.Home-result a {
  color: #EC6130;
}
